<!--this file will be used in every single one of our web pagess , basically used to create them -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        This is my blog through a template
    </head>
    <body>
        <!--The <div> tag defines a division or a section in an HTML document. The <div> tag is used as a container for HTML elements - which is then styled with CSS or manipulated with JavaScript. -->
       <div id="navbar">
           <h2> Ayush's Blog <a href="about"> Home </a> </h2>
       </div>
       {% block content %} {% endblock %}
    </body>
</html>